<h1>Stores Management</h1>

<% if @all_stores.any? %>
<ul>
  <% @all_stores.each do |store| %>
    <li><%= store.name %></li>
  <% end %>
</ul>
<% else %>
  <p>You have no stores.</p>
<% end %>

<br>

<h4>New Store Entry Form:</h4>
<form action="/stores/create_new_store" method="post">
<label for="name_input">Name</label>
<input type="text" name="name_input" id="name_input" class="form-control">
<br>
<button type="submit" class="btn btn-primary">Add store</button>
</form>

<p><a href="/">Home</a></p>
