<h1>Manage Store: <%= @current_store.name %></h1>

<form action="/store/<%= @current_store.id %>/update_name" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="new_name">Edit <%= @current_store.name %>'s name</label>
  <input type="text" name="new_name" id="new_name" class="form-control">
  <br>
  <button type="submit" class="btn btn-warning">Update</button>
</form>

<p><a href="/">Home</a></p>
