.footer {
  background-image: linear-gradient(to bottom, #45484d, #25272b);
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: fixed;
  bottom: 0;
  color: #fff;
  width: 100%;
}
